body {
  text-align: center;
}

.Bipartite .svg-container {
  border: 2px solid black;
  padding: 30px;
  display: inline-block;
}

.BNode {
  fill: red;
}

.BNode.selected {
  fill: blue;
}

.BLink {
  opacity: 0.3;
}

.BLink.selected {
  opacity: 0.7;
}

.BLink:hover {
  opacity: 0.5;
}

.BLink.selected:hover {
  opacity: 0.9;
}
