body {
  text-align: center;
}

.Bipartite .svg-container {
  border: 2px solid black;
  padding: 30px;
  display: inline-block;
}

.BNode {
  fill: black;
}

.BNode.selected {
  fill: blue;
}

.BLink {
  opacity: 0.3;
  stroke: black;
}

.BLink.selected {
  opacity: 0.7;
}

.BLink:hover {
  opacity: 0.5;
}

.BLink.selected:hover {
  opacity: 0.9;
}

.BLink.left-highlighted {
  stroke: url(#left-highlighted);
}

.BLink.right-highlighted {
  stroke: url(#right-highlighted);
}

.BLink.left-highlighted.right-highlighted {
  stroke: blue;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.selected-links {
  display: inline-block;
  margin: auto;
}
